# Ignorar la carpeta build (donde se generan los archivos de compilación)
build/

# Ignorar ejecutables generados (Linux, macOS, Windows)
*.exe
*.out
*.o
*.obj
*.log

# Archivos temporales del sistema
*.DS_Store
Thumbs.db

# Archivos de reporte generados por el programa
reporte.txt

# Archivos de CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
